<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />{{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />{{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />{{!-- Brand icon --}}
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="shortcut icon" href="{{asset "img/favicon.ico"}}">{{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.min.css"}}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <script type="text/javascript" src="{{asset "js/jquery.easing.1.3.js"}}"></script>

    <script type="text/javascript" src="{{asset "js/scrollreveal.min.js"}}"></script>

    <script type="text/javascript" src="{{asset "js/scrollIt.js"}}"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

    <script type="text/javascript">
        $(function() {
            $.scrollIt({
                easing: 'easeOutCubic', // the easing function for animation
                scrollTime: 800, // how long (in ms) the animation takes
                activeClass: 'active', // class given to the active nav element
            });
        });
    </script>
  </head>

  <body class="{{body_class}}">
    <div class="blog-header">
      <a href="/" class="back"><i class="material-icons">arrow_back</i> Home</a>
      <a href="/"><img class="logo" src="{{ asset "img/icon.png"}}" /></a>
      <h1 class="blog-sub">Myonic Blog</h1>
    </div>
    <div class="content" data-scroll-index="4">
        {{> "loop"}}
    </div>
    <h1 class="ajax-message"></h1>

    <script type="text/javascript">
        window.sr = ScrollReveal();
        sr.reveal('.post', {
            origin: "bottom",
            distance: "100px",
            scale: 1.2
        });
    </script>

    <div class="copyright">&copy; {{date format="YYYY"}} <a href="{{@blog.url}}">Myonic Technologies Inc.</a> All Rights Reserved.</div>

    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/site-ajax.js"}}"></script>
  </body>
</html>
